html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  color: black;
  font-family: "Play", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;

  padding: 24px 0 0 0;
}
/*___________Header______________*/

.info {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.65) 8.98%,
      rgba(0, 93, 114, 0.84) 27.35%,
      #04192e 41.12%,
      #730e00 57.45%,
      rgba(255, 255, 255, 0) 75.82%
    ),
    #ffffff;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
}

.menu__item {
  margin: 0 10px;
}
.menu__list-link {
  font-family: Play;

  color: black;
  font-size: 14px;
  line-height: 19px;
  border-radius: 10px;
  padding: 8px 10px;
  background-color: #fdfdfd;
  box-shadow: 1px 5px 6px rgba(0, 2, 49, 0.11);
  transition: all 0.5s;
}
.menu__list-link:hover {
  background-color: rgba(103, 103, 103, 0.22);
  opacity: 0.8;
}

.info-img {
  border-radius: 30px;
  filter: drop-shadow(5px 5px 10px rgba(16, 25, 58, 0.4));
  margin-bottom: 24px;
  width: 100%;
  height: auto;
}

.info__text {
  position: absolute;
  top: 150px;
  left: 50%;

  color: white;
}

.logo__link {
  width: 120px;
  height: 60px;
}
.info__list {
  display: flex;
  justify-content: space-between;
}
.info__images-list {
  width: 180px;
  height: 100 px;
  mix-blend-mode: multiply;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
}

.car__text {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
}

.user {
  text-align: center;
}
.user__img {
  width: 20px;
  height: 32px;
}
.user__text {
  font-family: "Jura", sans-serif;
  font-size: 8px;
  line-height: 10px;
  color: black;
}
.info__text-title {
  font-family: Jura;
  font-size: 36px;
  line-height: 43px;
}
.info__text-content {
  font-size: 30px;
  line-height: 42px;
  font-family: Play;
}

.nav {
  margin: 50px;
}

.all {
  height: 240px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.container__content {
  max-width: 1000px;
  margin: 0 auto;
}

.nav__image {
  position: relative;
}

.nav-img {
  position: absolute;
  right: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
}

.rectangle__item {
  width: 50%;
}

.rectangle__menu__item {
  padding: 15px 0 0 0px;
}

.link__img {
  margin-right: 40px;

  margin-left: 25px;
}

.rectangle__menu__item:first-child {
  padding-top: 30px;
}
.rectangle__menu__item:last-child {
  padding-bottom: 30px;
}

.rectangle__menu__list-link {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
  color: #000;
}
.link__img {

}


.conf__title{

  text-align: center;
  font-family: Play;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
}


.conf__img{

  height: auto;
  width: 100%;

}

.conf__item{


  border-radius: 30px;    
  background-color: #d4c9c9;
margin: 30px;
  text-align: center;
  width: 450px;
}
.conf__title-t{

  padding: 14px 0;
  
}

.conf__price{

  padding-bottom: 10px;
}


.conf__btm{

  text-decoration: none ;
   border: none;
   padding: 5px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 30px;
   width: 100%;
   
}

.conf__btm-t::before{
content:url('/img/klipartz\ 2.svg');

position: relative;
top: 5px;
right: 10px;
z-index:10;
}


.conf__btm-t{
  color:black;

  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}